<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.ExampleDao">
	
	<resultMap id="ExampleMap" type="com.example.model.Example">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryBySelective" parameterType="java.util.HashMap" resultMap="ExampleMap" >
		select * from example
	</select>
	
</mapper>