<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head :: head"></head>  
    <body>  
        <h1 th:inline="text">Hello Thymeleaf</h1>  
        <p th:text="${hello}">aaa</p>
        <p th:text="${#locale.country}">aaa</p>
		<p>User list from MySQL</p>
        <table style="border: 1px solid #000;">
        	<thead>
	      		<tr>
			        <th>姓名</th>
			        <th>邮箱</th>
	      		</tr>
	      	</thead>
	      	<tbody>
				<tr th:each="user : ${userList}">
			        <td th:text="${user.name}">Onions</td>
			        <td th:text="${user.email}">2.41</td>
	      		</tr>	      	
	      	</tbody>
    	</table>
	
		<p>File list from MongoDB</p>
		<table style="border: 1px solid #000;">
			<thead>
			<tr>
				<th>文件名</th>
				<th>存储路径</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="file : ${fileList}">
				<td th:text="${file.fileName}">Onions</td>
				<td th:text="${file.filePath}">2.41</td>
			</tr>
			</tbody>
		</table>
    </body>  
</html>