<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head :: head"></head>  
    <body>  
        <h1 th:inline="text">Hello Thymeleaf</h1>  
        <p th:text="${hello}">aaa</p>
        <p th:text="${#locale.country}">aaa</p>
        <table>
        	<thead>
	      		<tr>
			        <th>省份</th>
			        <th>地市</th>
			        <th>区县</th>
	      		</tr>
	      	</thead>
	      	<tbody>
				<tr th:each="example : ${examples}">
			        <td th:text="${example.province}">Onions</td>
			        <td th:text="${example.city}">2.41</td>
			        <td th:text="${example.district}">yes</td>
	      		</tr>	      	
	      	</tbody>
    	</table>
    </body>  
</html>